@font-face {
  font-family: Ocarina;
  src: url('media/fonts/FOT-ChiaroStd-B.otf') format("opentype");
}

body {
  background-color: black;
  box-sizing: border-box;
  /* font-family: Ocarina, courier; */
}

video {
  position: absolute;
  height: 100%;
  width: 100%;
  bottom: 0;
  left: 0;
  z-index: 1;
}

#modal {
  background-color: white;
  position: absolute;
  display: none;
  width: 50%;
  height: 60%;
  top: 5%;
  left: 25%;
  z-index: 5;
  border-radius: 1em;
}

#textBox {
  background-color: rgba(0,0,0,.6);
  position: absolute;
  width: 60%;
  height: 25%;
  top: 70%;
  left: 20%;
  z-index: 3;
  border-radius: 1em;
  color: white;
}

#modal p {
  padding: 0 1em;
  font-size: 1.6em;
}

#textBox p {
  padding: 0 1em;
  font-size: 1.6em;
}
